<!doctype html>
<html>
  <%= partial "head" %>

  <body class="<%= page_classes %>">
    <div class="container content">
      <%= partial "header" %>

      <%= yield %>
    </div>

    <%= partial "footer" %>

    <script type="text/javascript">
      $(function() {
        $(".fancybox").fancybox({
          prevEffect: 'fade',
          nextEffect: 'fade',
          openEffect: 'fade'
        });
      });
    </script>
  </body>
</html>
