---
title: 工厂 - 禹盛石业
layout: 'introductions'
---

<div class="row">
  <% [
    "工厂Factory (1)",
    "工厂Factory (2)",
    "工厂Factory (3)",
    "工厂Factory (4)",
    "工厂Factory (5)"
  ].each do |s| %>
    <% m = s.match /([\u4e00-\u9fa5]+)\s?((\w+\s?)+)(\(\d\))?/ %>
    <% title = (I18n.locale == :en ? m[2].split(' ').map(&:capitalize).join(' ') : m[1]) %>
    <% title += " " + m[4].to_s %>
    <% img_path = (m[2] + m[4].to_s).chomp(' ').gsub(' ', '_').downcase + '.jpg' %>

  <div class="col-md-10 col-md-offset-1 img detail">
    <div class="title">
      <h4><%= title %></h4>
    </div>
    <a href="/images/introductions/factory/<%= img_path %>" title="<%= title %>" class="fancybox" rel="group">
      <img src="/images/introductions/factory/<%= img_path %>" alt="<%= img_path %>" />
    </a>
  </div>

  <% end %>
</div>
