---
title: 机器 - 禹盛石业
layout: 'introductions'
---

<div class="row">
  <% [
    "机器Machine (1)",
    "机器Machine (2)",
    "机器Machine (3)",
    "机器Machine (4)",
    "机器Machine (5)",
    "机器Machine (6)",
    "机器Machine (7)"
  ].each do |s| %>
    <% m = s.match /([\u4e00-\u9fa5]+)\s?((\w+\s?)+)(\(\d\))?/ %>

  <div class="col-md-10 col-md-offset-1 img detail">
    <div class="title">
      <h4><%= m[1] %> <%= m[2].split(' ').map(&:capitalize).join(' ') %> <%= m[4] %></h4>
    </div>
    <img src="/images/introductions/machine/<%= (m[2] + m[4].to_s).chomp(' ').gsub(' ', '_').downcase + '.jpg' %>" alt="<%= m[2].chomp(' ').gsub(' ', '_').downcase %>" />
  </div>

  <% end %>
</div>
