---
title: 矿山 - 禹盛石业
layout: 'introductions'
---

<div class="title">
  <h4><%= t("introductions.menu.quarry") %></h4>
</div>
<div class="row">
  <% i = 0; [
    "矿山Quarry (1)",
    "矿山Quarry (2)",
    "矿山Quarry (3)",
    "矿山Quarry (4)",
    "矿山Quarry (5)"
  ].each do |s| %>
    <% m = s.match /([\u4e00-\u9fa5]+)\s?((\w+\s?)+)(\(\d\))?/ %>
    <% title = (I18n.locale == :en ? m[2].split(' ').map(&:capitalize).join(' ') : m[1]) %>
    <% img_path = (m[2] + m[4].to_s).chomp(' ').gsub(' ', '_').downcase + '.jpg' %>

    <% if i == 0 %>
      <div class="row">
    <% end %>

    <div class="col-md-3 col-xs-3 thumb">
      <a href="/images/introductions/quarry/<%= img_path %>" title="<%= title %>" class="fancybox" rel="group">
        <img src="/images/introductions/quarry/thumbnails/<%= img_path %>" alt="<%= img_path %>" />
      </a>
    </div>

    <% if i == 3 %>
      </div>
      <% i = 0 %>
    <% else %>
      <% i += 1 %>
    <% end %>
  <% end %>
  <% if 0 < i && i < 4 %>
    </div>
  <% end %>
</div>
