<div class="row">
  <div class="col-md-4">
    <ul class="menu" id="menu">
      <li><%= nav_link_to t("about_us.menu.company"), "#company" %></li>
      <li><%= nav_link_to t("about_us.menu.products"), "#products" %></li>
      <li><%= nav_link_to t("about_us.menu.cooperation"), "#cooperation" %></li>
    </ul>
  </div>
  <div class="col-md-8 right-content">
    <h3 id="company"><%= t("about_us.menu.company") %></h3>
    <p><%= t("about_us.content.company") %></p>
    <h3 id="products"><%= t("about_us.menu.products") %></h3>
    <p><%= t("about_us.content.products") %></p>
    <h3 id="cooperation"><%= t("about_us.menu.cooperation") %></h3>
    <p><%= t("about_us.content.cooperation") %></p>
  </div>
</div>
</div>
