<h3 class="contact-us"><%= t("contact_us.title.company") %></h3>
<p><span class="contact-us title"><%= t("contact_us.title.factory") %>: </span><%= t("contact_us.content.factory") %></p>
<p><span class="contact-us title"><%= t("contact_us.title.office") %>: </span><%= t("contact_us.content.office") %></p>
<p><span class="contact-us title"><%= t("contact_us.title.tel") %>: </span><%= t("contact_us.content.tel") %></p>
<p><span class="contact-us title"><%= t("contact_us.title.mob") %>: </span><%= t("contact_us.content.mob") %></p>
<p><span class="contact-us title"><%= t("contact_us.title.fax") %>: </span><%= t("contact_us.content.fax") %></p>
<p><span class="contact-us title"><%= t("contact_us.title.email") %>: </span><%= t("contact_us.content.email") %></p>
