---
title: 进口花岗岩 - 产品展示 - 禹盛石业
layout: 'products'
---

<% if I18n.locale == :en %>
  <div class="row">
    <% i = 0; [
      "Brown Imperial",
      "Butterfly Green",
      "Butterfly Yellow",
      "Cafe Bahia",
      "Cafe Imperial",
      "Caledonia",
      "Cambrian Black",
      "Camelia White (1)",
      "Camelia White (2)",
      "Carmen Red",
      "Carmen Red (2)",
      "China Butterfly Green"
    ].each do |s| %>
      <% m = s.match /((\w+\s?)+)(\(\d\))?/ %>
      <% title = m[1].split(' ').map(&:capitalize).join(' ') %>
      <% img_path = (m[1] + m[3].to_s).chomp(' ').gsub(' ', '_').downcase + '.jpg' %>

      <% if i == 0 %>
        <div class="row">
      <% end %>

      <div class="col-md-3 col-xs-3 thumb">
        <a href="/images/products/granites/imported/<%= img_path %>" title="<%= title %>" class="fancybox" rel="group">
          <img src="/images/products/granites/imported/thumbnails/<%= img_path %>" alt="<%= title %>" />
          <div class="title"><%= title %></div>
        </a>
      </div>

      <% if i == 3 %>
        </div>
        <% i = 0 %>
      <% else %>
        <% i += 1 %>
      <% end %>
    <% end %>
    <% if 0 < i && i < 4 %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <ul class="page">
      <% current = 2 %>
      <% total = 7 %>
      <% path = "/products/granites/imported" %>

      <% if current > 1 %>
        <li class="page-item">
          <%= link_to "« #{t('page.first')}", "#{path}.html" %>
        </li>
        <li class="page-item">
          <%= link_to "‹ #{t('page.previous')}", "#{path}#{current > 2 ? "_#{current - 1}" : ""}.html" %>
        </li>
      <% end %>

      <% (1..total).each do |i| %>
        <% if current == i %>
          <li class="page-current"><%= i %></li>
        <% else %>
          <li class="page-item">
            <%= link_to "#{i}", "#{path}#{i > 1 ? "_#{i}" : ""}.html" %>
          </li>
        <% end %>
      <% end %>

      <% if current < total %>
        <li class="page-item">
          <%= link_to "#{t('page.next')} ›", "#{path}_#{current + 1}.html" %>
        </li>
        <li class="page-item">
          <%= link_to "#{t('page.last')} »", "#{path}_#{total}.html" %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="row">
    <% i = 0; [
      "绿星Emerald Pearl",
      "绿钻Baltic Green",
      "芬兰红Balmoral Red",
      "英国棕Tan Brown",
      "蓝珍珠Blue Pearl",
      "蝴蝶黄Butterfly Yellow",
      "金彩麻Giallo Veneziano",
      "金钻麻Giallo Fiorito",
      "黑金沙Black Galaxy (1)",
      "黑金沙Black Galaxy (2)"
    ].each do |s| %>
      <% m = s.match /([\u4e00-\u9fa5]+)\s?((\w+\s?)+)(\(\d\))?/ %>
    <% title = m[1] %>
    <% img_path = (m[2] + m[4].to_s).chomp(' ').gsub(' ', '_').downcase + '.jpg' %>

      <% if i == 0 %>
        <div class="row">
      <% end %>

      <div class="col-md-3 col-xs-3 thumb">
        <a href="/images/products/granites/imported/<%= img_path %>" title="<%= title %>" class="fancybox" rel="group">
          <img src="/images/products/granites/imported/thumbnails/<%= img_path %>" alt="<%= title %>" />
          <div class="title"><%= title %></div>
        </a>
      </div>

      <% if i == 3 %>
        </div>
        <% i = 0 %>
      <% else %>
        <% i += 1 %>
      <% end %>
    <% end %>
    <% if 0 < i && i < 4 %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <ul class="page">
      <% current = 2 %>
      <% total = 2 %>
      <% path = "/products/granites/imported" %>

      <% if current > 1 %>
        <li class="page-item">
          <%= link_to "« #{t('page.first')}", "#{path}.html" %>
        </li>
        <li class="page-item">
          <%= link_to "‹ #{t('page.previous')}", "#{path}#{current > 2 ? "_#{current - 1}" : ""}.html" %>
        </li>
      <% end %>

      <% (1..total).each do |i| %>
        <% if current == i %>
          <li class="page-current"><%= i %></li>
        <% else %>
          <li class="page-item">
            <%= link_to "#{i}", "#{path}#{i > 1 ? "_#{i}" : ""}.html" %>
          </li>
        <% end %>
      <% end %>

      <% if current < total %>
        <li class="page-item">
          <%= link_to "#{t('page.next')} ›", "#{path}_#{current + 1}.html" %>
        </li>
        <li class="page-item">
          <%= link_to "#{t('page.last')} »", "#{path}_#{total}.html" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
