---
title: 玉石系列 - 产品展示 - 禹盛石业
layout: 'products'
---

<div class="row">
  <% i = 0; [
    "白玉Whtie Onyx (1)",
    "白玉Whtie Onyx (2)",
    "山水玉Landscape Onyx (1)",
    "山水玉Landscape Onyx (2)",
    "山水玉Landscape Onyx (3)",
    "古青玉Dark Green Onyx",
    "古青玉Antique Forest",
    "白底老虎玉White Tiger Onyx",
    "红底老虎玉Red Tiger Onyx",
    "红底老虎玉对拼Red Tiger Onyx book matched",
    "紫玉Pink Onyx",
    "紫玉Pink Onyx (1)"
  ].each do |s| %>
    <% m = s.match /([\u4e00-\u9fa5]+)\s?((\w+\s?)+)(\(\d\))?/ %>
    <% title = I18n.locale == :en ? m[2].split(' ').map(&:capitalize).join(' ') : m[1] %>
    <% img_path = (m[2] + m[4].to_s).chomp(' ').gsub(' ', '_').downcase + '.jpg' %>

    <% if i == 0 %>
      <div class="row">
    <% end %>

    <div class="col-md-3 col-xs-3 thumb">
      <a href="/images/products/onyxs/<%= img_path %>" title="<%= title %>" class="fancybox" rel="group">
        <img src="/images/products/onyxs/thumbnails/<%= img_path %>" alt="<%= title %>" />
        <div class="title"><%= title %></div>
      </a>
    </div>

    <% if i == 3 %>
      </div>
      <% i = 0 %>
    <% else %>
      <% i += 1 %>
    <% end %>
  <% end %>
  <% if 0 < i && i < 4 %>
    </div>
  <% end %>
</div>

<div class="row">
  <ul class="page">
    <% current = 1 %>
    <% total = 4 %>
    <% path = "/products/onyxs" %>

    <% if current > 1 %>
      <li class="page-item">
        <%= link_to "« #{t('page.first')}", "#{path}.html" %>
      </li>
      <li class="page-item">
        <%= link_to "‹ #{t('page.previous')}", "#{path}#{current > 2 ? "_#{current - 1}" : ""}.html" %>
      </li>
    <% end %>

    <% (1..total).each do |i| %>
      <% if current == i %>
        <li class="page-current"><%= i %></li>
      <% else %>
        <li class="page-item">
          <%= link_to "#{i}", "#{path}#{i > 1 ? "_#{i}" : ""}.html" %>
        </li>
      <% end %>
    <% end %>

    <% if current < total %>
      <li class="page-item">
        <%= link_to "#{t('page.next')} ›", "#{path}_#{current + 1}.html" %>
      </li>
      <li class="page-item">
        <%= link_to "#{t('page.last')} »", "#{path}_#{total}.html" %>
      </li>
    <% end %>
  </ul>
</div>
