---
title: 拼花系列 - 产品展示 - 禹盛石业
layout: 'products'
---

<div class="row">
  <% i = 0; [
    "水刀拼花 Water jet (1)",
    "水刀拼花 Water jet (2)",
    "水刀拼花 Water jet (3)",
    "水刀拼花 Water jet (4)",
  ].each do |s| %>
    <% m = s.match /([\u4e00-\u9fa5]+)\s?((\w+\s?)+)(\(\d\))?/ %>
    <% title = I18n.locale == :en ? m[2].split(' ').map(&:capitalize).join(' ') : m[1] %>
    <% img_path = (m[2] + m[4].to_s).chomp(' ').gsub(' ', '_').downcase + '.jpg' %>

    <% if i == 0 %>
      <div class="row">
    <% end %>

    <div class="col-md-3 col-xs-3 thumb">
      <a href="/images/products/water_jets/<%= img_path %>" title="<%= title %>" class="fancybox" rel="group">
        <img src="/images/products/water_jets/thumbnails/<%= img_path %>" alt="<%= title %>" />
        <div class="title"><%= title %></div>
      </a>
    </div>

    <% if i == 3 %>
      </div>
      <% i = 0 %>
    <% else %>
      <% i += 1 %>
    <% end %>
  <% end %>
  <% if 0 < i && i < 4 %>
    </div>
  <% end %>
</div>
