<div class="header">
  <div class="locales">
    <% if I18n.locale == :en %>
      <span>
        <a href="<%= current_page.url[3..current_page.url.length] %>">
          <span class="glyphicon glyphicon-globe"></span>
          切换语言: 简体中文
        </a>
      </span>
    <% else %>
      <span>
        <a href="/en<%= current_page.url %>">
          <span class="glyphicon glyphicon-globe"></span>
          Change Language: ENGLISH
        </a>
      </span>
    <% end %>
  </div>
  <% link_to "/", class: "brand" do %>
    <img src="/images/logo.jpg" alt="禹盛石业 eson stone china" />
  <% end %>
  <div class="nav">
    <ul>
      <li><%= nav_link_to t("menu.home"), "/" %></li>
      <li><%= nav_link_to t("menu.products"), "/products/marbles/imported.html" %></li>
      <li><%= nav_link_to t("menu.projects"), "/projects.html" %></li>
      <li><%= nav_link_to t("menu.factory_and_processing"), "/factory_and_processing/factory.html" %></li>
      <li><%= nav_link_to t("menu.about_us"), "/about_us.html" %></li>
      <li><%= nav_link_to t("menu.contact_us"), "/contact_us.html" %></li>
    </ul>
  </div>
</div>
